body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero {
    display: inline-block;
    width: 100%;
    background-color: #26B1EC;
    padding-bottom: 20px;
    padding-top: 60px;
    text-align: center;
}

.hero  img {

}

.hero  h1 {
    display: inline-block;
    width: 100%;
    font-size: 70px;
    text-transform: uppercase;
    
}

.hero  p {
    display: inline-block;
    width: 100%;
}

.hero  .clock {
    display: inline-block;
    width: 100%;
}

.hero  form {
    display: inline-block;
    width: 90%;
}

.hero  .mouse {
    display: inline-block;
    
}

.main-content {
    display: inline-block;
    width: 100%;
    background-color: white;
    padding-bottom: 60px;
    padding-top: 60px;
    
}

footer {
    display: inline-block;
    width: 100%;
    background-color: #26B1EC;
    padding-bottom: 60px;
    padding-top: 20px;
}

.small-container {
    display: inline-block;
    width: 700px;
    margin: 0 calc( ( 100% - 700px) / 2);
    margin-top: 0;
    margin-bottom: 0;

}

.container {
display: inline-block;
width: 1200px;
margin: 0 calc( ( 100% - 1200px) / 2);

}

.container > .left {
    display: inline-block;
    width: 50%;
    float: left;
    background-color: green;

}

.container > .right {
    display: inline-block;
    width: 40%;
    float: left;
    margin-left: 10%;
    background-color: blue;
    
}
@media (max-width: 1300px) {
.container {
    width: 900px;
    margin: 0 calc( ( 100% - 900px) / 2);
    
}
}

@media (max-width: 1000px) {

.container {
    width: 700px;
    margin: 0 calc( (100% - 700px) / 2 );
}
.container > .left {
    width: 100%;
}
.container > .right {
    width: 100%;
    margin-left: 0;
    margin-top: 60px;
}
}

    @media (max-width: 800px) {
        .small-container {
            width: 500px;
            margin: 0 calc( (100% - 500px) / 2 );
            background-color: lime;
        }
        .container {
            width: 500px;
            margin: 0 calc( (100% - 500px) / 2 );
        }
    }

            @media (max-width: 600px) {
                .small-container {
                    width: calc(100% - 40px);
                    margin-left: 20px;
                    background-color: lime;
                }
                .container {
                    width: calc(100% - 40px);
                    margin-left: 20px;
                }
            }
            